<!DOCTYPE html>
<html>
<head>
  <title>Sinatra ActiveRecord App</title>
</head>
<body>
  <h1>User List</h1>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>

  <form action="/users" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <input type="submit" value="Add User">
  </form>
</body>
</html>
